:root {
  --transition: all 0.3s ease;
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}
.header {
  background-color: #35495e;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  color: white;
  margin-left: 2rem;
  transition: var(--transition);
}
.nav-links a:hover {
  text-decoration: underline;
  color: orange;
}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

button.btn {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #42b983;
  color: white;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #36966e;
}

.features,
.about {
  margin-top: 40px;
  max-width: 600px;
  text-align: left;
}

.features h2,
.about h2 {
  margin-bottom: 10px;
  color: #333;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 8px;
  font-size: 1rem;
}
